body,
div,
header,
p,
button,
input,
textarea,
ol,
li
{
    margin: 0;
    padding: 0;
}
ol
{
    list-style: none;
}
body
{
    font-family: '黑体';
}
section
{
    position: relative;

    width: 95%;
    min-height: 630px;
    margin: 10px auto;

    border: 2px solid #a35ee7;
    border-radius: 10px;
}
#colSite
{
    position: absolute;
    top: 33px;
    left: 5px;

    width: 20px;
    height: 600px;
}
#colSite li
{
    font-size: 15px;

    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding-top: 6px;

    text-align: center;

    color: #a35ee7;
}
#rowSite
{
    position: absolute;
    top: 5px;
    left: 33px;

    width: 600px;
    height: 20px;
}
#rowSite li
{
    font-size: 15px;

    display: inline-block;

    width: 30px;
    height: 30px;

    text-align: center;

    color: #a35ee7;
}
#map
{
    position: relative;

    width: 600px;
    height: 600px;
    margin: 30px;

    border: 3px solid #83888a;
}
#map div
{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}
#map div div
{
    display: inline-block;

    width: 30px;
    height: 100%;

    border: 1px solid #ccc;
}
#active
{
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 30px;
    height: 30px;

    transition: transform .2s linear,left .2s linear,top .2s linear;
    transform: rotate(0);

    border-top: 6px solid #a35ee7;
    background-color: #565a69;
}
#form
{
    position: absolute;
    top: 0;
    right: 0;

    width: 600px;
    margin-top: 33px;
}
#header
{
    font-size: 25px;

    float: right;

    width: 60%;

    color: #a35ee7;
}
#explain
{
    font-family: '黑体';
    font-size: 15px;
    line-height: 1.8em;

    float: right;

    width: 60%;

    color: #565a69;
}
#tip
{
    font-size: 18px;

    display: inline-block;
    overflow: hidden;

    width: 30px;
    height: 400px;
    margin-right: -10px;

    text-align: center;

    color: #fff;
    border: 1px solid #3d6e89;
    border-radius: 3px;
    background-color: #3d6e89;
}
#tip li
{
    cursor: default;
}
#input
{
    font-size: 18px;

    overflow-y: scroll;

    height: 400px;

    resize: none;

    color: #bedef0;
    border-radius: 3px;
    background-color: #00424c;
}
button
{
    height: 25px;
    margin: 10px 30px;
    padding: 4px;

    cursor: pointer;

    border: 1px solid #850083;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
#wallNum
{
    width: 60px;
    height: 20px;
    margin: 10px -20px 10px 30px;
}
.wall
{
    background-color: #0f6c96;
}
