/* css文件初始化 */
body, div, ul, li, h1, h2, h3, h4, h5, h6, p{
        margin:0;
        padding:0;
}
img {
        border:0;
}
ul {
        list-style:none;
}
/* 本任务相关CSS */
body{
        max-width:456px;
        margin:0 auto;
        font-family:"黑体";
}
header{
        width:100%;
        height:60px;
        background-color:#52bcf7;
}
h2{
        color:#fff;
        font-size:25px;
        text-align:center;
        padding-top:15px;
}
header p{
        color:#fff;
        font-size:22px;
        margin-top:-25px;
        margin-left:15px;
}
nav ul{
        height:50px;
}
nav ul li{
        float:left;
        width:20%;
        font-size:20px;
        text-align:center;
        margin-top:18px;
        padding-bottom:8px;
}
.bottom-sel{
        border-bottom:5px solid #52bcf7;
}
img{
        width:100%;
}
#label{
        height:130px;
        border-bottom:2px solid #ccc;
}
#label li{
        width:20%;
        box-sizing: border-box;
        float:left;
        margin-top:5px;
        padding:10px;
}
#label li p{
        padding-top:5px;
        text-align:center;
}
#column{
        height:240px;
        padding-top:20px;
        border-bottom:30px solid #eff2f3;
}
#column .col-part1{
        float:left;
        box-sizing: border-box;
        height:200px;
        width:33.33333%;
        padding:20px;
}
#column .col-part2{
        float:left;
        box-sizing: border-box;
        height:220px;
        width:33.33333%;
        padding:20px 18px;
        border-left:2px solid #ccc;
        border-right:2px solid #ccc;
}

#column .col-part3{
        float:left;
        box-sizing: border-box;
        height:200px;
        width:33.33333%;
        padding:10px;
}
#column .col-part3 img{
        margin-top:10px;
        margin-bottom:15px;
}
#column h3,h4{
        text-align:center;
}
.my-module{
        border-bottom:30px solid #eff2f3;
}
.my-module h4{
        text-align:left;
        width:100%;
        margin-top:15px;
        margin-bottom:15px;
        padding-bottom:15px;
        border-bottom:2px solid #ccc;
}
.mod-content{
}
.mod-content img{
        float:left;
        width:30%;
        box-sizing:border-box;
        border:1px solid #f8b53f;
}
.mod-content .box-p{
        width:70%;
        height:75px;
/*         display:flex;
        justify-content:space-around; */
}
.box-p span{
        align-items:center;
        width:45%;
        height:35px;
        padding-top:15px;
        text-align:center;
        background-color:#ccc;
}
.my-text{
        padding:10px;
        height:90px;
        position:relative;
        border-bottom:2px solid #eff2f3;
}
.my-text img{
        float:left;
        width:30%;
}
.text-title{
        font-size:22px;
        margin-left:150px;
}
.text-foot{
        position:absolute;
        bottom:20px;
        left:160px;
        font-size:15px;
        color:#909293;
}
.my-text3{
        height:160px;
        padding:10px;
        border-bottom:20px solid #eff2f3;
}
.text-title3{
        font-size:22px;
}
.my-text3 img{
        width:32%;
        margin:10px 0;
}
.text-foot3{
        font-size:15px;
        color:#909293;
}