body, div ,header{
        margin:0;
        padding:0;
}
body{
        font-family:"微软雅黑";
}
header{
        width:80%;
        margin:30px auto;
        font-size:25px;
        color:#059aee;
        text-align:center;
}
section{
        width:80%;
        margin:0 auto;
        min-height:500px;
        border:5px solid #34acef;
        border-radius:10px;
        overflow:auto;
}
.root{
        display:flex;
        width:900px;
        height:200px;
        margin:50px auto 0;
        border:1px solid #850083;
        border-radius:10px;
        background-color:#fff;
/*         background-color:blue; */
/*         justify-content:space-around;
        align-items:center; */
}
.child-1{
        width:400px;
        height:150px;
        display:flex;
        margin:auto;
        border:1px solid #850083;
        border-radius:10px;
        background-color:#fff;
/*         background-color:red; */
/*         justify-content:space-around;
        align-items:center; */
}
.child-2{
        width:150px;
        height:100px;
        display:flex;
        margin:auto;
        border:1px solid #850083;
        border-radius:10px;
        background-color:#fff;
/*         background-color:yellow; */
}
.child-3{
        width:50px;
        height:50px;
        margin:auto;
        border:1px solid #850083;
        border-radius:10px;
        background-color:#fff;
/*         background-color:white; */
}
.btn{
        width:60%;
        height:100px;
        display:flex;
        margin:40px auto;
}
button{
        width:100px;
        height:40px;
        margin:auto;
        border:1px solid #850083;
        border-radius:10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        cursor:pointer;
}